<!--Navbar -->
<nav class="mb-0 navbar navbar-expand-lg sticky-top navbar-light teal lighten-4">
    <a class="navbar-brand" href="#">Foodhub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
        aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Saved</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Post</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            {{!-- Search --}}
            <form class="form-inline my-2 my-lg-0 ml-auto">
                <div class="md-form my-0">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
            {{!-- Profile --}}
            <li class="nav-item avatar">
                <a class="nav-link p-0" href="#">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
                        alt="avatar image" height="35">
                </a>
            </li>
            {{!-- Login --}}
            <li class="nav-item">
                <a class="btn btn-dark teal darken-3" href="#" role="button">Login</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-light light-green lighten-4" href="#" role="button">Register</a>
            </li>
        </ul>
    </div>
</nav>
<!--/.Navbar -->