<div class="container-fluid  pb-4 mb-5" style="padding-left: 5vw; padding-right: 5vw">
    <div class=row>

        {{!-- Post List --}}
        <div class="col-xl">

            <!-- Card -->
            {{#each post_list}}
            <div class="card card-cascade wider reverse mb-3">
                <!-- Card image -->
                <div class="container my-3">
                    <div class="row text-center justify-content-center">
                        {{#each this.item_list}}
                        <div class="col-lg-3 col-md-3 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail p-0"
                                    src='/public/uploads/post_restaurant/{{this.image}}' alt="">
                            </a>
                        </div>
                        {{/each}}
                    </div>
                    <div class="row text-center">
                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">
                            <!-- Title -->
                            <h4 class="card-title"><strong>{{this.restaurant_name}}</strong></h4>
                            <!-- Subtitle -->
                            <h6 class="font-weight-bold indigo-text py-2">Posted on {{this.date}}</h6>
                            <!-- Text -->
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{!-- End of Post List --}}

        {{!-- Filters --}}
        <div class="col-2">
            {{!-- Post Filters --}}
            <div class="row-2 sticky-top" style="top: 15vh; padding-left: 3vw">
                <div id="navBtns" class="btn-group-vertical btn-group-toggle sticky-top" role="group"
                    aria-label="Vertical button group">
                    <button class="btn btn-light btn-block teal lighten-3 active"
                        onclick="this.blur();">Trending</button>
                    {{#if authenticated}}
                    <button class="btn btn-light btn-block teal lighten-3" onclick="this.blur();">Following</button>
                    {{/if}}
                    <button class="btn btn-light btn-block teal lighten-3" onclick="this.blur();">Suggested</button>
                    <button class="btn btn-light btn-block teal lighten-3" onclick="this.blur();">Foodhub
                        Premium</button>
                </div>
            </div>
            <div class="row-2 sticky-top" style="top: 80vh; padding-left: 3vw">
                <button id="topBtn" class="btn btn-light btn-block mdb-color lighten-4 invisible"
                    onclick="this.blur(); topFunction();">
                    Top
                </button>
            </div>
        </div>
    </div>
</div>
</div>