<div class="container-fluid  pb-4 mb-5" style="padding-left: 5vw; padding-right: 5vw">
    <div class=row>

        {{!-- Post List --}}
        <div class="col-xl">

            <!-- Card -->
            <div class="card card-cascade wider reverse mb-3">
                <!-- Card image -->
                {{!-- <div class="view view-cascade overlay">
                    <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"
                        alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div> --}}
                <div class="container my-3">
                    <div class="row text-center text-lg-left">
                        <div class="col-lg-3 col-md-3 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail p-0"
                                    src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail"
                                    src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail"
                                    src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-3 col-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail"
                                    src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="row text-center">
                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">
                            <!-- Title -->
                            <h4 class="card-title"><strong>Title</strong></h4>
                            <!-- Subtitle -->
                            <h6 class="font-weight-bold indigo-text py-2">Type or Details</h6>
                            <!-- Text -->
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Exercitationem
                                perspiciatis
                                voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta
                                reprehenderit, placeat
                                laborum ut beatae ullam suscipit veniam.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {{!-- End of Post List --}}

        {{!-- Filters --}}
        <div class="col-2">
            {{!-- Post Filters --}}
            <div class="row-2 sticky-top" style="top: 15vh; padding-left: 3vw">
                <div id="navBtns" class="btn-group-vertical btn-group-toggle sticky-top" role="group"
                    aria-label="Vertical button group">
                    <button class="btn btn-light btn-block teal lighten-3 active"
                        onclick="this.blur();">Trending</button>
                    {{#if authenticated}}
                    <button class="btn btn-light btn-block teal lighten-3" onclick="this.blur();">Following</button>
                    {{/if}}
                    <button class="btn btn-light btn-block teal lighten-3" onclick="this.blur();">Suggested</button>
                    <button class="btn btn-light btn-block teal lighten-3" onclick="this.blur();">Foodhub
                        Premium</button>
                </div>
            </div>
            <div class="row-2 sticky-top" style="top: 80vh; padding-left: 3vw">
                <button id="topBtn" class="btn btn-light btn-block mdb-color lighten-4 invisible"
                    onclick="this.blur(); topFunction();">
                    Top
                </button>
            </div>
        </div>
    </div>
</div>
</div>