<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- Stylesheets & Fonts --}}
    <title>Foodhub (Name tentative)</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="/public/material/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/material/css/mdb.min.css">
</head>

{{> nav }}

<body>
    {{!-- Body --}}
    {{{body}}}

    <script type="text/javascript" src="/public/material/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/material/js/popper.min.js"></script>
    <script type="text/javascript" src="/public/material/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/material/js/mdb.min.js"></script>
</body>

{{> footer }}

</html>
