<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!-- Stylesheets & Fonts --}}
    <title>Foodhub (Name tentative)</title>
</head>

<body>
    {{!-- Body --}}
    {{{body}}}
</body>

</html>