<div class="container d-flex justify-content-center align-items-center force-center">
    <div class="jumbotron text-center">
        <h3>404 error: this page was not found</h3>
        <div class="row my-2 text-center d-block">
            <a class="btn btn-dark teal darken-3" href="/">Back</a>
        </div>
    </div>
</div>