{{!-- <div class="jumbotron"> --}}
{{!--     <h2>Browse the trending onlyfoods posts</h2> --}}
{{!-- </div> --}}

<div class="jumbotron">
    <div class="text-black text-center py-0 px-5">
        <div>
            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Experience the food, not the reviews</strong></h2>
            {{!-- <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, --}}
            {{!--     optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum! --}}
            {{!-- </p> --}}
        </div>
    </div>
</div>

{{> post_list}}
