<div class="jumbotron" style="background-image: url(/public/imgs/botanical.jpg); background-repeat: round; ">
    <div class="text-black text-center py-0 px-5">
        <div>
            <h1 class="display-3 pt-5 mb-5 font-bold"><strong>Food<a class="indigo-text font-weight-bold">hub</a></strong></h1>
            {{!-- <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem, --}}
            {{!--     optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit sed qui, dolorum! --}}
            {{!-- </p> --}}
        </div>
    </div>
</div>

{{> post_list}}
