
<form method="POST" action="/users/signup" name="postrestaraunt">
    Image:<br> <input type="image" name="image"><br>
    Restaraunt:<br> <input type="text" name="restaraunt"><br>
    Item:<br> <input type="text" name="item"><br>
    Price:<br> <input type="text" name="price"><br>
    Description:<br> <input type="text" name="desciption"><br>
    <input type="submit" value="Submit">
</form>