<div class="container-fluid pb-4 mb-5">
    <div class="col-12" style="padding-left: 20vw; padding-right: 20vw">

        {{!-- Title --}}
        <div class="row justify-content-left mt-4">
            <h1 class="display-4 strong">
                <strong>Mango Mango</strong>
            </h1>
        </div>
        <div class="row justify-content-left mt-0">
            <h1 class="display-4 strong">
                <small class="text-muted">Mango Sago</small>
            </h1>
        </div>

        {{!-- Photo --}}
        <div class="row justify-content-center mt-3">
            <figure class="figure img-fluid">
                <img src="/public/imgs/mango_sago.jpg" class="figure-img img-fluid z-depth-1"
                                                       alt="..." style="width: 400px">
                <!-- <figcaption class="figure&#45;caption text&#45;center">A caption for the above image.</figcaption> -->
            </figure>
        </div>

        {{!-- Details --}}
        <div class="row p-2 d-flex mt-0 border border-dark light-green lighten-4" style="margin-left: 10vw; margin-right: 10vw;">

            {{!-- Profile Picture --}}
            <div class="px-2">
                <a class="nav-link p-0" href="#0">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" class="rounded-circle z-depth-0"
                                                                                       alt="avatar image" height="45">
                </a>
            </div>

            {{!-- Post Author --}}
            <div class="px-2 mr-auto text-truncate align-self-center"><strong>Post Author</strong></div>
            {{!-- Views --}}
            <div class="px-1 ml-auto align-self-center">
                <figcaption class="figure-caption text-center">
                    100 views
                    <span class="fas fa-eye"></span>
                </figcaption>
            </div>

            {{!-- Likes --}}
            <div class="px-2 align-self-center">
                <figcaption class="figure-caption text-center">
                    100 likes
                    <i class="fas fa-caret-up fa-lg"></i>
                </figcaption>
            </div>
        </div>

        {{!-- Description --}}
        <div class="row justify-content-center mt-5">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active ml-auto mr-2" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                                                                                                              aria-controls="pills-home" aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-auto ml-2" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                                                                                                        aria-controls="pills-profile" aria-selected="false">Details</a>
                </li>
            </ul>
            <div class="tab-content pt-2 pl-1" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">Consequat
                    occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt officia. Fugiat
                    velit proident aliquip nisi incididunt nostrud exercitation proident est nisi. Irure magna elit commodo
                    anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad. Eiusmod consequat eu adipisicing
                    minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit eu exercitation irure Lorem incididunt
                    nostrud.</div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Ad
                    pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. Aute sunt incididunt
                    amet commodo est sint nisi deserunt pariatur do. Aliquip ex eiusmod voluptate exercitation cillum id
                    incididunt elit sunt. Qui minim sit magna Lorem id et dolore velit Lorem amet exercitation duis
                    deserunt. Anim id labore elit adipisicing ut in id occaecat pariatur ut ullamco ea tempor duis.</div>
            </div>
        </div>
    </div>

</div>
</div>
