
<form method="POST" action="/users/signup" name="postrestaraunt">
    Resraraunt:<br> <input type="text" name="name">
    Username:<br> <input type="text" name="username">
    <br>
    Password:<br> <input type="text" name="password" Placeholder="Password">
    <br>
    <input type="submit" value="Submit">
</form>