<div class="container force-center">
	<div class="row">
		<div class="col-3 mt-4">
			<div class="card">
				<div class="card-body">
						<img class="card-img-top" src={{pfp}}
							alt="avatar image">
						<h5 class="card-title">Bob Ross</h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Posts 3</li>
							<li class="list-group-item">Followers 0</li>
							<li class="list-group-item">Following 0</li>
						</ul>
				</div>
			</div>
			
			<div class="card">
				<div class="card-body overflow-auto">
					<h5 class="card-title">Followers</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">John Doe</li>
						<li class="list-group-item">Stephen Park</li>
						<li class="list-group-item">Tony Chin</li>
					</ul>
				</div>
			</div>
			
			<div class="card">
				<div class="card-body overflow-auto">
					<h5 class="card-title">Following</h5>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">John Doe</li>
						<li class="list-group-item">Stephen Park</li>
						<li class="list-group-item">Tony Chin</li>
					</ul>
				</div>
			</div>
		</div>
	
		<div class="col-9 pt-4">
			
			<!-- Card -->
			<div class="card card-cascade wider reverse mb-3">
				<!-- Card image -->
				<div class="row m-2">
					<div class="col-md-4 row-1 h-100">
						<img alt="picture" src="https://natashaskitchen.com/wp-content/uploads/2020/07/Vanilla-Cake-SQ.jpg" class="img-fluid">
					</div>
					<div class="col-md-4 h-100">
						<img alt="picture" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
					</div>
					<div class="col-md-4">
						<img alt="picture" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
					</div>
					<div class="col-md-4">
						<img alt="picture" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
					</div>
					<div class="col-md-4">
						<img alt="picture" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
					</div>
					<div class="col-md-4">
						<img alt="picture" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid">
					</div>
				</div>
				<!-- Card content -->
				<div class="card-body card-body-cascade text-center">
					<!-- Title -->
					<h4 class="card-title"><strong>Dish</strong></h4>
					<!-- Subtitle -->
					<h6 class="font-weight-bold indigo-text py-2">Restaurant</h6>
					<!-- Text -->
					<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem
						perspiciatis
						voluptatum a, quo nobis, non commodi quia repellendus sequi nulla voluptatem dicta
						reprehenderit, placeat
						laborum ut beatae ullam suscipit veniam.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

