<div class="container d-flex justify-content-center align-items-center force-center">
    <div class="modal-dialog">
        <div class="modal-content">
            {{!-- Modal Header --}}
            <div class="modal-header mb-0">
                <h5 class="modal-title">Login</h5>
            </div>
            {{!-- Modal Body --}}
            <div class="modal-body py-0">
                <form action="/users/signin" method="POST" name="signin">
                    {{>alerts}}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username"
                            placeholder="Enter username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Enter your password" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary w-100 m-0 teal darken-3">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>